QDialog {
    background-color: #ffffff;
}

QMainWindow {
    background-color: #ffffff;
}

QMenuBar {
    background-color: #ffffff;
}

QMenu {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
}

QMenu::item {
    padding: 5px 20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

QMenu::item:selected {
    background-color: #cce8ff;
    border: 1px solid #99d1ff;
}
